<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132334584921-bo32aili02rep3688usvfrr433b2lo2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132334584921-bo32aili02rep3688usvfrr433b2lo2s</string>
	<key>API_KEY</key>
	<string>AIzaSyA4sBt2FJ67Co9uJ3PhKoZ4fUujTk1m0SE</string>
	<key>GCM_SENDER_ID</key>
	<string>132334584921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spott.Insite</string>
	<key>PROJECT_ID</key>
	<string>insite-bb28c</string>
	<key>STORAGE_BUCKET</key>
	<string>insite-bb28c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132334584921:ios:b57d507c0616b762de5d48</string>
	<key>DATABASE_URL</key>
	<string>https://insite-bb28c.firebaseio.com</string>
</dict>
</plist>